

* {
    -fx-primary :  #303030;
    -fx-secondary :  #565656;
	-fx-buttonColour : #8E8E8E;
	-fx-textColour: #FFFFFF;
}

/* Przyciski*/
.button:hover{
    -fx-background-color: #565656;
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: center;
}
.button{
    -fx-background-color: #8E8E8E;

}
.normalButton{
		-fx-font-family: "Berlin Sans FB";
}

/*Inne panele*/
.tab{
    -fx-background-color: -fx-secondary;
	-fx-pref-width: 300;
	-fx-pref-height: 50;
}
.tab-header-background{
    -fx-background-color: -fx-secondary;
}
.tab-label{
    -fx-text-fill: -fx-textColour;
    -fx-font-size: 15pt; 
}


.scroll-pane {
   -fx-background: #565656;
   -fx-border-color: #565656;
}

.jfx-drawer-side-pane{
	-fx-background-color: -fx-primary;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: -fx-buttonColour;
}

.jfx-datepicker{
	-fx-base : -fx-buttonColour;
	-fx-text-fill: -fx-textColour;
    -fx-font-size: 17pt; 
	text-align: center;
}

.customLabel{
	-fx-background-color: -fx-buttonColour;
	-fx-text-fill: #000000;
}
